:root {
    --text-color: #7e8d99;
    --main-color: #f05f75;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 1100px;
    padding: 30px 50px 50px;
    margin: 0 auto;
    background-color: white;
    color: var(--text-color);
}

@media (max-width: 1192px) {
    .container {
        width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 800px;
    }
}

.container .heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.container .heading h2 {
    letter-spacing: 4px;
    margin-bottom: 12px;
}

.container .heading p {
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #a2a2a2;
    font-size: 15px;
}

.container .heading i {
    font-size: 26px;
}

.container .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .content .box {
    flex-basis: 30%;
    text-align: center;
}

.container .content .box .box-image {
    position: relative;
    margin-bottom: 30px;
}

.container .content .box .box-image::before {
    content: "";
    position: absolute;
    width: 195px;
    height: 194px;
    border: 1px solid #7e8d995c;
    border-radius: 50%;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);

}

.container .content .box .box-image::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-bottom: 1px solid #7e8d995c;
    border-left: 1px solid #7e8d995c;
    bottom: 0;
    left: 50%;
    transform: rotate(315deg) translate(-7px, 1px);

}


.container .content .box .box-image img {
    width: 175px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 2000;
}

.container .content .box span:first-of-type {
    display: block;
    font-size: 36px;
    opacity: 0.9;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.container .content .box span:last-of-type {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container .content .box span:last-of-type::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: #7e8d995c;
    left: 0;
    bottom: 2px;
}

.container .content .box span:last-of-type::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: #7e8d9938;
    right: 0;
    bottom: 2px;
}

.container .content .box>p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.4;
}

.container .content .box .icons {
    padding: 16px 0;
}

.container .content .box .icons i {
    color: var(--text-color);
    font-size: 17px;
    margin-left: 7px;
    opacity: 0.6;
}

.container .content .countdown {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}



.container .content .countdown>span {
    content: "";
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4);
}

.container .content .countdown .card {
    border: 2px solid #7e8d992a;
    text-align: center;
    flex-basis: calc(50% - 21px);
    height: 158px;
    margin: 26px auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
}



.container .content .countdown .card::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    background-color: #858f9731;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.container .content .countdown .card span:first-of-type {
    display: block;
    padding: 24px;
    font-size: 38px;
    margin-bottom: 24px;
    color: var(--main-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 992px) {
    .container .content .countdown .card span:first-of-type {
        font-size: 26px;
    }
}

.container .content .countdown .card span:last-of-type {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}